<!--The content below is only a placeholder and can be replaced.-->
<table class="table table-condensed" style="border-width: 2px; border-color: black; border-style: solid;">
  <thead>
    <tr>
      <th>Sabor</th>
      <th>Tipo</th>
      <th>Kilos</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let helado of listado" >
      <td>{{helado.sabor}} </td>
      <td>{{helado.tipo}} </td>
      <td>{{helado.kilos}} </td>
      <td><img class="fotoHelado" [src]="helado.imageUrl" /> </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
